h1{
    font-family: 'Nerko One', cursive;
    /*font-family: 'Sriracha', cursive;*/
    font-size:xx-large;
}
h2{
    font-family: 'Nerko One', cursive;
    font-size:x-large;
}
ul1{
    font-family: 'Nerko One', cursive;
    font-size:large
}